.bg_overlay {
  position: fixed;
  top: 100px;
  height: 100%;
  width: 100vw;
  background: rgba(41, 45, 50, 0.6);
  z-index: 10;
  overflow: hidden;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.5s linear, opacity 0.5s linear;
}

.bg_overlay.showBg {
  opacity: 1;
  visibility: visible;
}
