.footer {
  background: #292d32;
  padding: 70px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.footerIcons {
  display: flex;
  align-items: center;
  gap: 20px;
}

.footerLinks {
  display: flex;
  align-items: center;
  gap: 50px;
}

.link {
  color: rgba(255, 255, 255, 0.8);
}

.link:hover {
  transform: scale(1.2);
  color: white;
  font-weight: bold;
}

.footerIcon {
  transition: all 0.2s linear;
}

.footerIcon:hover {
  transform: scale(1.2);
}

@media screen and (max-width: 700px) {
  .footerLinks {
    flex-direction: column;
  }
}
